<li class="pc-item pc-hasmenu">
  <a href="../dashboard/index.html" class="pc-link">
    <span class="pc-micon">
      <svg class="pc-icon">
        <use xlink:href="#custom-status-up"></use>
      </svg>
    </span>
    <span class="pc-mtext">Dashboard</span>
    <span class="pc-badge">9</span>
  </a>
</li>

<li class="pc-item pc-caption">
  <label>Registros</label>
  <svg class="pc-icon">
    <use xlink:href="#custom-presentation-chart"></use>
  </svg>
</li>
<li class="pc-item">
  <a href="../widget/w_statistics.html" class="pc-link">
    <span class="pc-micon">
      <svg class="pc-icon">
        <use xlink:href="#custom-notification-status"></use>
      </svg>
    </span>
    <span class="pc-mtext">Base de Dados</span>
  </a>
</li>
<li class="pc-item">
  <a href="../widget/w_data.html" class="pc-link">
    <span class="pc-micon">
      <svg class="pc-icon">
        <use xlink:href="#custom-login"></use>
      </svg>
    </span>
    <span class="pc-mtext">Retorno Mensal</span>
  </a>
</li>
<li class="pc-item">
  <a href="../widget/w_chart.html" class="pc-link">
    <span class="pc-micon">
      <svg class="pc-icon">
        <use xlink:href="#custom-presentation-chart"></use>
      </svg>
    </span>
    <span class="pc-mtext">Repasse Mensal</span></a
  >
</li>
<li class="pc-item">
  <a href="../widget/w_chart.html" class="pc-link">
    <span class="pc-micon">
      <svg class="pc-icon">
        <use xlink:href="#custom-presentation-chart"></use>
      </svg>
    </span>
    <span class="pc-mtext">Documentos</span></a
  >
</li>
<li class="pc-item">
  <a href="../widget/w_chart.html" class="pc-link">
    <span class="pc-micon">
      <svg class="pc-icon">
        <use xlink:href="#custom-presentation-chart"></use>
      </svg>
    </span>
    <span class="pc-mtext">Cadastrar Cliente</span></a
  >
</li>

<li class="pc-item pc-caption">
  <label>SAC</label>
  <svg class="pc-icon">
    <use xlink:href="#custom-box-1"></use>
  </svg>
</li>
<li class="pc-item pc-hasmenu">
  <a href="#!" class="pc-link"
    ><span class="pc-micon">
      <svg class="pc-icon">
        <use xlink:href="#custom-mouse-circle"></use>
      </svg> </span
    ><span class="pc-mtext">Gestão de Ativos</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span
  ></a>
  <ul class="pc-submenu">
    <li class="pc-item"><a class="pc-link" href="../elements/icon-feather.html">Meus Clientes</a></li>
    <li class="pc-item"><a class="pc-link" href="../elements/icon-fontawesome.html">Meus Tickets</a></li>
  </ul>
</li>
<li class="pc-item">
  <a href="../elements/bc_alert.html" class="pc-link" target="_blank"
    ><span class="pc-micon">
      <svg class="pc-icon">
        <use xlink:href="#custom-box-1"></use>
      </svg> </span
    ><span class="pc-mtext">Lotes de Aprovação</span></a
  >
</li>

<li class="pc-item pc-caption">
  <label>Jurídico</label>
  <svg class="pc-icon">
    <use xlink:href="#custom-element-plus"></use>
  </svg>
</li>
<li class="pc-item pc-hasmenu">
  <a href="#!" class="pc-link">
    <span class="pc-micon">
      <svg class="pc-icon">
        <use xlink:href="#custom-element-plus"></use>
      </svg>
    </span>
    <span class="pc-mtext">Gestão de Processos</span></a>
</li>

<li class="pc-item pc-caption">
  <label>financeiro</label>
  <svg class="pc-icon">
    <use xlink:href="#custom-text-align-justify-center"></use>
  </svg>
</li>
<li class="pc-item pc-hasmenu">
  <a href="#!" class="pc-link">
    <span class="pc-micon">
      <svg class="pc-icon">
        <use xlink:href="#custom-text-align-justify-center"></use>
      </svg>
    </span>
    <span class="pc-mtext">Gestão do Financeiro</span></a>
</li>
<li class="pc-item pc-hasmenu">
  <a href="#!" class="pc-link">
    <span class="pc-micon">
      <svg class="pc-icon">
        <use xlink:href="#custom-keyboard"></use>
      </svg>
    </span>
    <span class="pc-mtext">Lotes de Pagamento</span></a>
</li>

<li class="pc-item pc-caption">
  <label>Administração</label>
  <svg class="pc-icon">
    <use xlink:href="#custom-graph"></use>
  </svg>
</li>
<li class="pc-item pc-hasmenu">
  <a href="#!" class="pc-link">
    <span class="pc-micon">
      <svg class="pc-icon">
        <use xlink:href="#custom-shopping-bag"></use>
      </svg>
    </span>
    <span class="pc-mtext">Vizualização e Dados</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span
  ></a>
  <ul class="pc-submenu">
    <li class="pc-item"><a class="pc-link" href="../application/ecom_product.html">Relatório de Clientes</a></li>
    <li class="pc-item"><a class="pc-link" href="../application/ecom_product-details.html">Relatório de Tickets</a></li>
    <li class="pc-item"><a class="pc-link" href="../application/ecom_product-list.html">Relatório de Lotes</a></li>
    <li class="pc-item"><a class="pc-link" href="../application/ecom_product-add.html">Relatório de Retornos</a></li>
    <li class="pc-item"><a class="pc-link" href="../application/ecom_checkout.html">Movimentação Mensal</a></li>
  </ul>
</li>
<li class="pc-item">
  <a href="../application/file-manager.html" class="pc-link">
    <span class="pc-micon">
      <svg class="pc-icon">
        <use xlink:href="#custom-document-filter"></use>
      </svg>
    </span>
    <span class="pc-mtext">Configuração do Sistema</span></a
  >
</li>
<li class="pc-item">
  <a href="../application/mail.html" class="pc-link">
    <span class="pc-micon">
      <svg class="pc-icon">
        <use xlink:href="#custom-direct-inbox"></use>
      </svg>
    </span>
    <span class="pc-mtext">Rede e Infraestrutura</span></a
  >
</li>
